/* rubik-regular - latin-ext_latin_hebrew_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-500 - latin-ext_latin_hebrew_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
/* Стиль, который учитывает отступы и границы в значениях ширин и высотах всех элементов */
html{
     box-sizing: border-box;
     height: 100%;
     width: 100%;
}
*,*::before, *::after{
	box-sizing: inherit;
}
/* Применяем всему body шрифт и его стили */
body{
	font-family: 'Rubik';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #FFFFFF;
     height: 100%;
     width: 100%;
}

/* Стили основного контейнера */
._mobile{
     display: none;
}
.wrapper{
     min-height: 100%;
     overflow: hidden;
}

._container{
     max-width: none;
     margin: 0  auto;
     padding: 0 10px;
}

@media (min-width:767px){
     ._container{
          max-width: 992px;
     }
}

@media (min-width:992px){
     ._container{
          max-width: 1180px;
     }
}

/*--------------------------header styles ----------------------------*/

.header{
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 50;
     background: #FFFFFF;
}

.header__container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     min-height: 40px;
     padding: 10px 10px;
}

@media (min-width:767px){
     .header__container{
          padding: 15px 10px;
     }
}

@media (min-width:992px){
     .header__container{
          padding: 32px 10px;
     }
}

.header__logo__container{

}

.header__logo__link{
     text-decoration: none;
}

.header__logo{
     padding: 0 12px 0 0;
}

.header__logo__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     color: #333333;
}

.header__search__field{
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #333333;
	font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
	color: #828282;
     width: 120px;
}

@media (min-width:767px){
     .header__search__field{
          width: 250px;
     }
}

@media (min-width:992px){
     .header__search__field{
          width: 320px;
     }
}

.header__search__button{
     background-color: transparent;
	border: 0;
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #E5261E;
}

.header__search__button:hover{
     color: #CC221B;
}

.header__auth{
     border: 0;
     background: url(../img/svg/auth-ico.svg) no-repeat;
     border-radius: 4px;  
     padding: 20px 20px;
}

.auth__button__name{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #FFFFFF;
}

@media (min-width:767px){
     .header__auth{
          background: #E5261E;
          padding: 10px 32px;
     }
     .header__auth:hover{
          background: #CC221B;
     }
}

@media (min-width:992px){
     .header__auth{
          background: #E5261E;
          padding: 10px 32px;
     }
     .header__auth:hover{
          background: #CC221B;
     }
}

/*--------------------------main styles ----------------------------*/

.main__conatiner{
     position: relative;
     margin-top: 60px;
}

@media (min-width:767px){
     .main__conatiner{
          margin-top: 69px;
     }
}

@media (min-width:992px){
     .main__conatiner{
          margin-top: 103px;
     }
}

/*--------------------------footer styles ----------------------------*/

.footer{
     position: relative;
     bottom: 0;
     width: 100%;
     background: #F2F2F2;
}

.footer__container{
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
}

.footer__logo__container{
     padding: 10px 0;
}

.footer__logo__link{
     text-decoration: none;
}

.footer__navigation{
     padding: 10px 40px;
}

.footer__contacts__item{
     display: none;
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
     color: #333333;
     padding-bottom: 6px;
}

.footer__contacts__item:last-child{
     display: block;
     padding-top: 4px;
     padding-bottom: 0;
}

.footer__contacts__link{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #1F4766;
     text-decoration: none;
}
@media (min-width:767px){
     .footer__container{
          justify-content: flex-start;
     }

     .footer__logo__container{
          padding: 15px 0;    
     }

     .footer__navigation{
          padding: 15px 40px;  
     }

     .footer__contacts__item{
        display: block;  
     }
}

@media (min-width:992px){
     .footer__container{
          justify-content: flex-start;
     }

     .footer__logo__container{
          padding: 28px 0;
     }

     .footer__navigation{
          padding: 22px 40px;
     }

     .footer__contacts__item{
          display: block;
     }
}

@media (min-width:767px){
     ._mobile{
          display: contents;
     }
}

@media (min-width:992px){
     ._mobile{
          display: contents;
     }
}