/* rubik-regular - latin-ext_latin_hebrew_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-500 - latin-ext_latin_hebrew_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v14-latin-ext_latin_hebrew_cyrillic-ext_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
/* Стиль, который учитывает отступы и границы в значениях ширин и высотах всех элементов */
html{
     box-sizing: border-box;
     height: 100%;
     width: 100%;
}
*,*::before, *::after{
	box-sizing: inherit;
}
/* Применяем всему body шрифт и его стили */
body{
	font-family: 'Rubik';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #FFFFFF;
     height: 100%;
     width: 100%;
}

/* Стили основного контейнера */
#_first__tab{
     display: block;
}

#_second__tab{
     display: none;
}

._mobile{
     display: none;
}

._timetable__open{
     display: flex;
}

.wrapper{
     display: flex;
     flex-direction: column;
     min-height: 100%;
     overflow: hidden;
}

._container{
     max-width: none;
     margin: 0  auto;
     padding: 0 10px;
}

.main{
     flex-grow: 1;
}

@media (min-width:767px){
     ._container{
          max-width: 992px;
     }
}

@media (min-width:992px){
     ._container{
          max-width: 1180px;
     }
}

/*--------------------------Modal styles -----------------------------*/

.modal__wrapper{
     display: none;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 999999;
}

.modal__shade{
     display: block;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: #333333;
     opacity: 0.6;
     z-index: 9999;
}

.modal__item{
     background: #FFFFFF;
     border-radius: 8px;
     overflow: hidden;
     z-index: 99999;
}

.modal__item__title__wrapper{
     margin: 8px 20px;
}

.modal__item__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 33px;
     text-align: center;
     color: #333333;
}

.modal__item__form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: space-between;
     padding: 10px 16px;
}

.modal__item__button{
     border-radius: 4px;
     border: 0;
     background: #E5261E;
     color: #FFFFFF;
     text-align: center;
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     padding: 10px 15px;
     margin: 70px 30px 20px 30px;
}

.modal__item__input{
     color: #828282;
     text-align: left;
     font-family: Rubik;
     font-style: normal;
     font-size: 16px;
     line-height: 19px;
     border: 0;
     border-bottom: 1px solid #333333;
     padding-bottom: 6px;
     margin-bottom: 15px;
}

.modal__item__checkbox__name{
     color: #333333;
     text-align: left;
     font-family: Rubik;
     font-style: normal;
     font-size: 16px;
     line-height: 19px; 
     margin-bottom: 15px; 
}

.modal__item__checkbox{
     padding: 16px;
     margin-right: 10px;
}

@media (min-width:767px){
     .modal__item__title__wrapper{
          margin: 36px 117px;
     }

     .modal__item__title{
          font-size: 24px;
     }
     .modal__item__form{
          padding: 10px 26px;
     }

     .modal__item__button{
          font-size: 16px;
          padding: 10px 20px;
          margin: 80px 40px 25px 40px;
     }

     .modal__item__input{
          font-size: 16px;
          padding-bottom: 10px;
          margin-bottom: 15px;
     }
     
     .modal__item__checkbox__name{
          font-size: 16px; 
          margin-bottom: 15px; 
     }
     
     .modal__item__checkbox{
          padding: 16px;
          margin-right: 15px;
     }
}

@media (min-width:992px){
     .modal__item__title__wrapper{
          margin: 36px 117px 24px 117px;
     }

     .modal__item__title{
          font-size: 28px;
     }

     .modal__item__form{
          padding: 0px 36px;
     }
     
     .modal__item__button{
          font-size: 16px;
          padding: 10px 32px;
          margin-top: 0;
          margin: 111px 60px 36px 60px;
     }

     .modal__item__input{
          font-size: 16px;
          padding-bottom: 6px;
          margin-bottom: 18px;
     }
     
     .modal__item__checkbox__name{
          font-size: 16px;
          margin-bottom: 0px;  
     }
     
     .modal__item__checkbox{
          padding: 16px;
          margin-right: 24px;
     }
}

/*--------------------------header styles ----------------------------*/

.header{
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 50;
     background: #FFFFFF;
}

.header__container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     min-height: 40px;
     padding: 10px 10px;
}

@media (min-width:767px){
     .header__container{
          padding: 15px 10px;
     }
}

@media (min-width:992px){
     .header__container{
          padding: 32px 10px;
     }
}

.header__logo__container{

}

.header__logo__link{
     text-decoration: none;
}

.header__logo{
     padding: 0 12px 0 0;
}

.header__logo__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     color: #333333;
}

.header__search__field{
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #333333;
	font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
	color: #828282;
     width: 120px;
     margin-right: 12px;
     padding-bottom: 6px;
}

@media (min-width:767px){
     .header__search__field{
          width: 250px;
          margin-right: 22px;
     }
}

@media (min-width:992px){
     .header__search__field{
          width: 320px;
          margin-right: 32px;
     }
}

.header__search__button{
     background-color: transparent;
	border: 0;
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #E5261E;
}

.header__search__button:hover{
     color: #CC221B;
}

.header__auth__container{
     display: block;
}

.header__auth{
     border: 0;
     background: url(../img/svg/auth-ico.svg) no-repeat;
     border-radius: 4px;  
     padding: 20px 20px;
}

.auth__button__name{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #FFFFFF;
}

.header__profile__container{
     display: none;
}

.header__profile__ico__container{
     display: block;
     background: url(../img/svg/login-ico.svg) no-repeat;
     padding: 20px
}

.header__profile__modal__container{
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: 30% 15%;
     background-color: white;
     width: 75%;
     height: 75%;
     border-radius: 8px;
     z-index: 99999;
}

.profile__modal__shade{
     display: none;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: #333333;
     opacity: 0.6;
     z-index: 9999;
}

.header__profile{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #333333;
     margin-right: 16px;
     margin-bottom: 50px;
}

.header__exit__button{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #E5261E;
     background-color: transparent;
	border: 0;
     padding: 0;
     margin: 0;
}

.header__exit__button:hover{
     color: #CC221B;
}

@media (min-width:767px){
     .header__auth{
          background: #E5261E;
          padding: 10px 32px;
     }
     .header__auth:hover{
          background: #CC221B;
     }
     .header__profile__ico__container{
          display: none;
     }
     .header__profile__modal__container{
          display: flex;
          position: relative;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          margin: 0;
          background-color: transparent;
          width: auto;
          height: auto;
     }
     .profile__modal__shade{
          display: none;
     }
     .header__profile{
          margin-bottom: 0;
     }
}

@media (min-width:992px){
     .header__auth{
          background: #E5261E;
          padding: 10px 32px;
     }
     .header__auth:hover{
          background: #CC221B;
     }
     .header__profile__ico__container{
          display: none;
     }
     .header__profile__modal__container{
          display: flex;
          position: relative;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          margin: 0;
          background-color: transparent;
          width: auto;
          height: auto;
     }
     .profile__modal__shade{
          display: none;
     }
     .header__profile{
          margin-bottom: 0;
     }
}

/*--------------------------main styles ----------------------------*/

.main__container{
     position: relative;
     margin-top: 60px;
}

@media (min-width:767px){
     .main__container{
          margin-top: 69px;
     }
}

@media (min-width:992px){
     .main__container{
          margin-top: 103px;
     }
}

/*--------------------------tabs styles ----------------------------*/

.main__tab__container{
     display: flex;
     justify-content: center;
     align-items: center;
}

.tab__films{
     text-decoration: none;
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 33px;
     text-align: center;
     color: #333333;
     margin: 8px 6px 0px 6px;
     padding-bottom: 2px;
}

.tab__channels{
     text-decoration: none;
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 33px;
     text-align: center;
     color: #333333;
     margin: 8px 6px 0px 6px;
     padding-bottom: 2px;
}

.tab__active{
     color: #E5261E;
     border-bottom: 2px solid #E5261E;
}

@media (min-width:767px){
     
     .tab__films{
          margin: 12px 9px 0px 9px;
          font-size: 28px;
          padding-bottom: 6px;
     }

     .tab__channels{
          margin: 12px 9px 0px 9px;
          font-size: 28px;
          padding-bottom: 6px;
     }
}

@media (min-width:992px){
    
     .tab__films{
          margin: 16px 12px 0px 12px;
          font-size: 28px;
          padding-bottom: 6px;
     }

     .tab__channels{
          margin: 16px 12px 0px 12px;
          font-size: 28px;
          padding-bottom: 6px;
     }
}

/*--------------------------main__new styles ----------------------------*/

.main__new__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     text-align: left;
     color: #333333;
     padding: 20px 0 8px 0;
}

.new__container{
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     padding: 8px 0 16px 0;
     max-width: 100%;
     height: auto;
}

.new__item__body{
     position: relative;
     margin-bottom: 16px;
}

.new__item__body__desc{
     display: none;
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     background: #333333;
     opacity: 0.6;
     border-radius: 8px;
     padding: 16px;
}

.new__item__desc{
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 140%;
     color: #F2F2F2;
}

.new__item__title{
     margin-bottom: 10px;
}

.new__item{
     flex: 0 1 45%;
     overflow: hidden;
     margin-right: 30px;
     width: 100%;
     height: auto;
}

.new__item:nth-child(even){
     margin-right: 0px;
}

@media (min-width:767px){
     .new__item{
          flex: 1 1 0;
     }

     .new__item:nth-child(2){
          margin-right: 20px;
     }

     .new__item:last-child{
          padding-right: 0px;  
     }
}

@media (min-width:992px){
     .new__item{
          flex: 1 1 0;
     }

     .new__item:nth-child(2){
          margin-right: 20px;
     }
     
     .new__item:last-child{
          padding-right: 0px;  
     }
}

.new__item__img{
     max-width: 100%;
     height: auto;
}

.new__item__link{
     text-decoration: none;
}

.new__item__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 24px;
     color: #333333;
}

/*--------------------------main__genre styles ----------------------------*/

.main__genre{
     padding-top: 16px;
     margin-bottom: 72px;
}

.main__genre__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     text-align: left;
     color: #333333;
     padding-bottom: 8px;
}

.genre__container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     max-width: 100%;
     height: auto;
}

.genre__item{
     flex: 0 1 45%;
     margin: 8px 30px 8px 0px;
}

.genre__item:nth-child(even){
     margin: 8px 0px 8px 0px;
}

@media (min-width:767px){
     .genre__item{
          flex: 1 1 0;
     }

     .genre__item:last-child{
          margin: 8px 0px 8px 0px; 
     }

     .genre__item:nth-child(2){
          margin: 8px 20px 8px 0px;
     }
}

@media (min-width:992px){
     .genre__item{
          flex: 1 1 0;
     }

     .genre__item:last-child{
          margin: 8px 0px 8px 0px;  
     }

     .genre__item:nth-child(2){
          margin: 8px 20px 8px 0px;
     }
}

.genre__comedy{
     background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
     box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
     border-radius: 6px;
}

.genre__drama{
     background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
     opacity: 0.8;
     box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
     border-radius: 6px;
}

.genre__fantastic{
     background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
     opacity: 0.8;
     box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
     border-radius: 6px;  
}

.genre__horror{
     background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
     opacity: 0.8;
     box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
     border-radius: 6px;
}

.genre__item__link{
     text-decoration: none;
}

.genre__item__ico{
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 48px;
     line-height: 57px;
     text-align: center;
     color: #FFFFFF;
     padding: 80px 0 16px 0;
}

.genre__item__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 24px;
     text-align: center;
     color: #FFFFFF;
     padding: 16px 0 24px 0;
}
/*--------------------------main__channels styles ----------------------------*/

.main__channels{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: space-between;
     margin: 15px 0 14px 0;
}

.channels__item{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     background: #F2F2F2;
     border-radius: 8px;
     margin-bottom: 16px;
     overflow: hidden;
}

.channels__item:hover{
     background: #d6d4d4;
}

.channels__img_container{
     flex: 0 0 30%;
     display: block;
     align-items: center;
}

.channels__item__img{
     width: 100%;
     height: 100%;
     max-width: 100%;
     max-height: 100%;
     padding: 5px 25px;
}

.channels__item__timetable{
     padding: 5px 5px;
}

.timetable__container{
     max-width: 100%;
     width: 100%;
     display: none;
     justify-content: center;
     flex-wrap: nowrap;
}

.active_container{
     display: flex;
}

.deactive_container{
     display: none;
}


.timetable__title{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     color: #333333;
     padding: 21px 0 17px 0;
}

.timetable__time{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     padding-right: 16px;
}

.timetable__time__item{
     flex: 0 1 33%;
     text-decoration: none;
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
     color: #333333;
     margin-bottom: 12px;
}

.timetable__name{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     padding-right: 16px;

}

.timetable__name__item{
     flex: 0 1 33%;
     text-decoration: none;
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
     color: #333333;
     margin-bottom: 10px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: clip;
}

.timetable__time__item:first-of-type{
     color: #E5261E;
}

.timetable__name__item:first-of-type{
     color: #E5261E;
}

@media (min-width:767px){
     .main__channels{
          margin: 20px 0 28px 0;
     }

     .channels__item__timetable{
          padding: 0;
     }

     .channels__img_container{
          display: block;
          flex: 0 1 auto;
     }

     .channels__item__img{
          display: block;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          padding: 29px 75px;
     }

     .timetable__container{
          display: flex;
     }

     .channels__item:hover{
          background: #F2F2F2;
     }
}

@media (min-width:992px){
     .main__channels{
          margin: 27px 0 56px 0;
     }

     .channels__item__timetable{
          padding: 0;
     }

     .channels__img_container{
          display: block;
          flex: 0 1 auto;
     }
     
     .channels__item__img{
          display: block;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          padding: 49px 175px;
     }

     .timetable__container{
          display: flex;
     }

     .channels__item:hover{
          background: #F2F2F2;
     }
}
/*--------------------------footer styles ----------------------------*/

.footer{
     width: 100%;
     background: #F2F2F2;
     flex-shrink: 0;
}

.footer__container{
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
}

.footer__logo__container{
     padding: 10px 0;
}

.footer__logo__link{
     text-decoration: none;
}

.footer__navigation{
     padding: 10px 40px;
}

.footer__contacts__item{
     display: none;
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 19px;
     color: #333333;
     padding-bottom: 6px;
}

.footer__contacts__item:last-child{
     display: block;
     padding-top: 4px;
     padding-bottom: 0;
}

.footer__contacts__link{
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #1F4766;
     text-decoration: none;
}
@media (min-width:767px){
     .footer__container{
          justify-content: flex-start;
     }

     .footer__logo__container{
          padding: 15px 0;    
     }

     .footer__navigation{
          padding: 15px 40px;  
     }

     .footer__contacts__item{
        display: block;  
     }
}

@media (min-width:992px){
     .footer__container{
          justify-content: flex-start;
     }

     .footer__logo__container{
          padding: 28px 0;
     }

     .footer__navigation{
          padding: 22px 40px;
     }

     .footer__contacts__item{
          display: block;
     }
}

@media (min-width:767px){
     ._mobile{
          display: inline-block;
     }
}

@media (min-width:992px){
     ._mobile{
          display: inline-block;
     }
}